{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/transform-modules-commonjs",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env"
      ]
    }
  }
}
